<section class="col-md-6 col-md-offset-3">
  <div class="panel-group" id="budgets" role="tablist" aria-multiselectable="true">
    <%= render @budgets %>
  </div>
  <%= link_to 'New', new_transact_path, class: 'btn btn-primary' %>
</section>

<div class="clearfix"></div>
